<!-- your html code here -->
<html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>
                    The First Heading
                    <medium class="text-muted">Will Catch your Eye</medium>
                </h1>
                <p class="lead fs-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
            <div class="col-4">
                <img src="./assets/img/1.jpg" class="rounded-circle img-fluid" alt="...">
            </div>
        </div>
    </div>
</body>
</html>