<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->
<!-- margin bottom mb-3 -->
<div class="card mb-3">
    <!-- no gutter -->
    <div class="row g-0">
        <!-- 12 px spacer below -->
        <div class="col-md-3"> 
            <img src="./assets/img/2.jpg" class="rounded-circle mt-5 mb-5 ms-5">
        </div>
        <div class="col-md-9 mt-5 ml-0">
            <div class="card-body">
                <h2><strong>The Second Heading</strong><span class="text-muted"> Is Pretty Cool Too.</span></h2>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                    ligula porta felis eusmod sempter. Praesent commodo cursus magna,
                    vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                <p>
            </div>
        </div>
    </div>
<div>